<div class="row">
    <br>
  <div class="col s12 m6">
    <div class="card large">
      <div class="card-image">
        <div class="carousel carousel-slider">
          <a class="carousel-item"><img height="300" src="{{game.cover}}"></a>
          <a class="carousel-item"><img height="300" src="{{game.images[1]}}"></a>
          <a class="carousel-item"><img height="300" src="{{game.images[0]}}"></a>
          <a class="carousel-item"><img height="300" src="{{game.images[2]}}"></a>
        </div>
        <span class="card-title"><strong>{{ game.name }}</strong></span>
      </div>
      <div class="card-content">
        <p>{{ game.description }}</p>
      </div>
    </div>
  </div>
  <div class="column"></div>
  <div id="game-detail" class="col s12 m6">
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="https://raw.githubusercontent.com/gabrielmla/retro-games-front/master/src/assets/icons/noun_1507836_cc.svg?token=AJ8S2RjwWzPFxI8uxd68gpePhDgMoOw4ks5amF7FwA%3D%3D" alt="" class="circle">
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    </ul>
  </div>
</div>

<!--<h6 class="blue-text text-darken-2">
  <strong>Genre</strong>
</h6>
<p>
  {{ game.genre }}
</p>
<div class="divider"></div>
<h6 class="blue-text text-darken-2">
  <strong>Release date</strong>
</h6>
<p>
  {{ game.release_date }}
</p>
<div class="divider"></div>
<h6 class="blue-text text-darken-2">
  <strong>Rating</strong>
</h6>
<p>
  {{ game.rating }}/100
</p>
<div class="divider"></div>
<h6 class="blue-text text-darken-2">
  <strong>Commentary</strong>
</h6>
<p>
  Ueenn Uennn ueeennnn
</p>-->