<br>
<div class="row">
  <div class="col s10 push-s1">
      <div class="col s4">
          <img class="circle responsive-img" src="assets/game-not-found/Joystick-01_modified.jpg">
          <p>instagram photo</p>
      </div>
    
      <div class="col s6 hoverable">
          <div class="section">
            <p>Gabriel Morais Lúcio de Araújo</p>
          </div>
          <div class="divider"></div>

          <div class="section">
            <p>Computer Science Graduate Student at UFCG - Brazil</p>
          </div>
          <div class="divider"></div>

          <div class="section">
            <p>Bla bla stuff stuff i like potatos</p>
          </div>
          <div class="divider"></div>
      </div>
  </div>
</div>
