
<nav>
    <div class="nav-wrapper indigo">
        <a routerLink="" class="brand-logo right">Retro Games</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li routerLinkActive="active">
                <a routerLink="/games" [queryParams]="{page:1}">
                    <i class="material-icons right">games</i>
                    Games
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/about">
                    <i class="material-icons right">subject</i>
                    About
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>
