/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*background-color: #3355bb;*/
    background-image: url(https://raw.githubusercontent.com/gabrielmla/retro-games-front/master/src/assets/minimal-background.jpg?token=AJ8S2eEuqfWvuHopJ6y40WBHt6dWTChoks5alY1JwA%3D%3D);
  }

  main {
    flex: 1 0 auto;
  }

  #index-footer {
      padding-top: 0px;
  }

  #footer-links {
      padding-right: 10px;
  }